<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <div class="links column">
      <a mat-button routerLink="/form">Custom Forms</a>
      <a mat-button routerLink="/rxjs">RxJS Library</a>
      <a mat-button routerLink="/i18n">Internationalization</a>
      <a mat-button routerLink="/storage">Local & Session Storage</a>
      <a mat-button routerLink="/input-and-output">Component Input & Output</a>
      <a mat-button routerLink="/unit">Unit Test</a>
      <a mat-button routerLink="/e2e">E2E Test</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="this.isLandingPage()" class="column landing-container">
      <h1>{{ this.title }}</h1>
      <h2>Click on one of the links to the left to view a demo</h2>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
